* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

input,
select {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.numero-inscricao {
    width: 300px;
}

fieldset {
    border: 0;
    display: flex;
    width: 100%;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

:is(.rg, .endereco) label {
    width: 40%;
}

section {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 5px 10px 0;
}

section > input {
    max-height: 14px;
    width: auto;
    margin-right: 5px;
}
button {
    background-color: #007bff;
    color: #fff;
    margin: auto;
    font-size: 1.25rem;
    display: block;
    border: none;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}